# Telegram
BOT_TOKEN=ваш_токен_здесь

# Database
DATABASE_URL=postgresql+asyncpg://user:password@host:port/db

# YandexGPT
YANDEX_API_KEY=ваш_ключ
YANDEX_FOLDER_ID=ваш_id

# ЮKassa
YOOKASSA_SHOP_ID=ваш_shop_id
YOOKASSA_SECRET_KEY=ваш_secret_key