# Telegram Bot Token
# Telegram Bot Token
BOT_TOKEN=

# PostgreSQL (для Docker Compose)
POSTGRES_USER=bot
POSTGRES_PASSWORD=
POSTGRES_DB=psychosomatic

# Application
LOG_LEVEL=INFO
APP_ENV=development

# API
API_HOST=0.0.0.0
API_PORT=8000