# Telegram Bot Token
# Telegram Bot Token
BOT_TOKEN=8511631553:AAFo1Nmpit0rrMUr2ys_Mk9ZksZapk2unl4

# PostgreSQL (для Docker Compose)
POSTGRES_USER=bot
POSTGRES_PASSWORD=saturnus32
POSTGRES_DB=psychosomatic

# Application
LOG_LEVEL=INFO
APP_ENV=development

# API
API_HOST=0.0.0.0
API_PORT=8000